<#@ template language="C#" #>
<#@ output extension=".html" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<!DOCTYPE html>
<html>
<title><# Write(Title); #></title>
<# 
if (Theme != null) {
#>
<xmp theme="<# Write(Theme.ToString()); #>" style="display:none;">
<#
} else {
#>
<xmp style="display:none;">
<#
}
#>
<# Write(DocFile); #>
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>