<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FindImageInImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FindImageInImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FindImageInImage.Properties.Settings>
            <setting name="ClickSenseCloseDir" serializeAs="String">
                <value>.//ClixSenseClose//</value>
            </setting>
            <setting name="NemoFindDir" serializeAs="String">
                <value>.//NemoFind//</value>
            </setting>
            <setting name="NemoDotDir" serializeAs="String">
                <value>.//NemoDots//</value>
            </setting>
            <setting name="NemoCloseDir" serializeAs="String">
                <value>.//NemoCloses//</value>
            </setting>
            <setting name="ClickSenseScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NemoScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MegaScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenZoomFactorX" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ScreenZoomFactorY" serializeAs="String">
                <value>27</value>
            </setting>
        </FindImageInImage.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FindImageInImage.Properties.Settings>
            <setting name="ClickSenseFindDir" serializeAs="String">
                <value>.//ClixSenseFinds//</value>
            </setting>
        </FindImageInImage.Properties.Settings>
    </applicationSettings>
</configuration>
